:root {
  --dark: #2a2356;
  --dark-blue: #586ae2;
  --light-blue: #6ecbf5;
  --purple: #c252e1;
  --light: #e0d9f6;
}

.card-body {
  text-align: center;
}

.emoji {
  justify-content: end;
  font-size: 21px;
}

a {
  font-size: 20px;
}
a:link {
  text-decoration: none;
  margin: 10px;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.navbar-brand {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: var(--light-blue);
}

#currentDay {
  color: var(--purple);
  font-weight: bold;
}

#stockSymbol-input {
  justify-content: center;
  align-items: center;
}

title {
  font-size: 300px;
}

.news-scroll {
  padding: 10px;
}

.card-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--purple);
  background-color: var(--dark);
}

body {
  background: rgb(88, 106, 226);
  background: linear-gradient(
    0deg,
    rgba(88, 106, 226, 1) 0%,
    rgba(42, 35, 86, 1) 80%
  );
  font-family: "Open Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  height: 100vh;
}

.blinking {
  animation: blinkingText 1s infinite;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

/* Marquee styling  */
#newsfeed a {
  color: #64F517;
  background: hsla(0, 0%, 0%, 1);
  font-family: 'Electrolize', sans-serif;
  letter-spacing:3px;
  text-shadow:1px 1px hsla(255,255%,255%, .7),2px 2px hsla(255,255%,255%, .6),3px 3px hsla(255,255%,255%, .5), 4px 4px hsla(255,255%,255%, .3), 5px 5px hsla(255,255%,255%, .1);
}

